<nav>
  <%= link_to root_path %>
  <%= link_to  %>
  <%= link_to %>
  <%# <% if current_user.signed_in? %>
    <%# <ul> %>
      <%# <% @users.each do |user| %> 
        <%# <li><%= user.first_name</li>  %>
      <%# <% end %> 
    <%# </ul> %> 
  <%# <% else %> 
    <strong>You must sign in!</strong>
  <%# <% end %> 
</nav>

<%# NAVBAR TEXT %>

<h1>Mountaineer</h1>
<%# With icon beside, either in front of at end? %>

<ul>   <%# With link erb? %>
  <li>Sign Up</li>
  <li>Log In</li>
</ul>