<h1>List of favorite places</h1>
<div class="row justify-content-around">
  <% @favorite.each do |place| %>
    <% location = Location.find(place.location_id) %>
    <%= render 'card', location: location %>
  <% end %>